:root{
    --fontSecundary: "Barlow Condensed", sans-serif;
    --fontPrincipal: "Zilla Slab", serif;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.spinnerLoading-principalContainer{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vh;
    transition: opacity 0.5s ease-in-out;
    
}
.textFuntion-containersecundary{
    height: 18vh;
    width: 18vh;
    border: 1vh solid #f3f3f3;
    border-bottom: 1vh solid #ff0000;
    border-radius: 50%;
    animation: spin 2s linear infinite ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.secundary-spinner-global_676767{
    height: 80%;
    width: 80%;
    border: 1vh solid #f3f3f3;
    border-top: 1vh solid #ff0000;
    border-radius: 50%;
    animation: spin2 1s linear infinite;
}

@keyframes spin {
    0% {transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
@keyframes spin2 {
    0% {transform: rotate(-0deg);}
    100%{transform: rotate(-360deg);}
}
.textLoanding-container456545 h2{
    font-family: var(--fontSecundary);
    font-size: 3.1vh;
    font-weight: 500;
    animation: color 2.5s linear infinite;
}
@keyframes color {
    0%{
        color: #000;
    }
    50%{
        color: #d8d8d8;
    }
    100%{
        color: #000;
    }
}
/*Header*/
.container-Global_11111{  
    width: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    visibility: hidden;
    transition: opacity 1s ease-in-out, visibility 0s 1s;
    position: absolute;
    
}
.container-Global_11111.show{
    opacity: 1;
    visibility: visible;
    position: static;
    transition: opacity 1s ease-in-out, visibility 0s 0s;
}
header{
    height: 9vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 25vh;
    padding-right: 10vh;
    background-color: #ffffffec;
    position: fixed;
    z-index: 100;
}
#DropDonw-burguer_896776{
    display: none;
    height: 4.5vh;
    width: 4.5vh;
}
#dropdonw-closep_008213{
    display: none;
    height: 4.5vh;
    width: 4.5vh;
}
.logo-principal-header_007008009 img{
    height: 8vh;
}
.ItemsContainerGlobal_371306 a{
    text-decoration: none;
}
.ItemsContainerGlobal_371306{
    height: auto;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 4vh;
    padding-right: 5vw;
}
.ItemsContainerGlobal_371306 img{
    width: 2.1vh;
    height: 2.2vh;
    padding-top: 3px;
}
.ItemsContainerGlobal_371306 button{
    height: auto;
    width: 10vh;
    border: none;
    background-color: #fff;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s ease;
    font-family: var(--fontSecundary);
    font-size: 2.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}
.ItemsContainerGlobal_371306 button:hover{
    border-bottom: 2px solid #ff0000;
}
a .btnItmesName-SobreMi_686569{
    border-bottom: 2px solid #ff0000;
}

.signospan_5555{
    color: #000;
}
/*body*/

.MainClass{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8vh;
}
.sectionOfMian-aboutMe_885494{
    height: 80vh;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    
}
.sectionOfMian-aboutMe_885494 video{
    height: 70vh;
    width: 31vh;
    border-radius: 25px;
    border: 4px solid #000;
    box-shadow: 5px 5px 5px 5px #0000003f;
    object-fit: cover;
}
.sectionSecundaryOfMian-aboutMe_885496{
    height: 50vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.contentMain-aboutme_45454 h2{
    font-family: var(--fontPrincipal);
    font-size: 2.5rem;
    font-weight: 500;
}
.greet-divPrincipal_4848422{
    height: 5vh;
    width: 20vh;
    display: flex;
    gap: 0.5vh;
}
.containerDiv_84848484848{
    height: 8vh;
    width: 10vh;
    display: flex;
    gap: 1.5vh;
}
.letter {
    opacity: 0;
    animation: typewriter 0.5s forwards;
}

@keyframes typewriter {
    to {
        opacity: 1;
    }
}

.greet-divPrincipal_4848422 h2:nth-child(1) {
    animation-delay: 0s;
}
.greet-divPrincipal_4848422 h2:nth-child(2) {
    animation-delay: 0.3s;
}
.greet-divPrincipal_4848422 h2:nth-child(3) {
    animation-delay: 0.9s;
}
.greet-divPrincipal_4848422 h2:nth-child(4) {
    animation-delay: 1.2s;
}
.greetAndName-divPrincipal_48421313 h2:nth-child(1) {
    animation-delay: 1.5s;
}
.greetAndName-divPrincipal_48421313 h2:nth-child(2) {
    animation-delay: 1.8s;
}
.greetAndName-divPrincipal_48421313 h2:nth-child(3) {
    animation-delay: 2.1s;
}
.greetAndName-divPrincipal_48421313_num2 h2:nth-child(1) {
    animation-delay: 2.4s;
}
.greetAndName-divPrincipal_48421313_num2 h2:nth-child(2) {
    animation-delay: 2.7s;
}
.greetAndName-divPrincipal_48421313_num2 h2:nth-child(3) {
    animation-delay: 3.0s;
}
.greetAndName-divPrincipal_48421313_num2 h2:nth-child(4) {
    animation-delay: 3.3s;
}
.greetAndName-divPrincipal_48421313_num2 h2:nth-child(5) {
    animation-delay: 3.6s;
}
.greetAndName-divPrincipal_48421313_num2 h2.exclamation-mark-AboutMe_4545454 {
    animation: typewriter 0.5s forwards, blink 1.5s infinite;
    animation-delay: 3.9s, 3.9s; 
    color: #ff0000;
}
@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.greetAndName-divPrincipal_48421313{
    height: 5vh;
    width: 20vh;
    display: flex;
    gap: 0.3vh;
    
}
.greetAndName-divPrincipal_48421313_num2{
    height: 5vh;
    width: 20vh;
    display: flex;
    gap: 0.3vh;
}
.informationAboutMe_sectionKitchen_77888999{
    height: 20vh;
    width: 50vh;
}
.informationAboutMe_sectionKitchen_77888999 h3{
    width: 9vh;
    font-family: var(--fontSecundary);
    font-size: 1.5rem;
    font-weight: 500;
    padding-bottom: 0.2vh;
    border-bottom: 3px solid #ff0000;
}
.informationAboutMe_sectionKitchen_77888999 p{
    font-family: var(--fontSecundary);
    font-size: 1.2rem;
}
.SectionclassPhoto_8574455{
    height: auto;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5vh;
    flex-wrap: wrap;
}
.classParagraph_856789{
    height: 15vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
}
.classParagraph_856789 h3{
    font-family: var(--fontPrincipal);
    font-weight: 500;
    font-size: 2rem;
}
.classParagraph_856789 p{
    height: auto;
    width: 80vh;
    font-family: var(--fontSecundary);
    font-weight: 400;
    font-size: 1.2rem;
}
.galerryPhotosOf-Document_888{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.SecundaryContainerGallery{
    min-height: 90%;
    width: 95%;
    display: grid;
    grid-template-columns: 
    repeat(auto-fit, minmax(250px, 1fr));
    gap: 0.9rem;
    
}
.photoContent{
    height: 100%;
    width: 100%;
    border-radius: 8px;
    transform: scale(1);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    object-fit: cover;
}
.photoContent:hover{
    transform: scale(1.03);
}

.containerShowGallery{
    height: 100vh;
    width: 100%;
    display: none;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    position: fixed;
    bottom: 0px;
    z-index: 110;
}
.showGalleryAdd{
    height: 100%;
    overflow: hidden;
}
.containerSecundaryShowPhotos{
    width: 78%;
    display: flex;
    justify-content: space-between;
    
}
.containerSecundaryShowPhotos button{
    height: 6vh;
    width: 6vh;
    border-radius: 50%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: 0;
    cursor: pointer;
}
.buttonBack{
    background-color: #ffffff13;
    position: relative;
    transition: background-color 0.3s ease-in-out;
}

.buttonBack:active{
    background-color: #fff;
    transition: background-color 0.2s ease-in-out ;
}

.buttonForward{
    background-color: #ffffff13;
    position: relative;
    transition: background-color 0.3s ease-in-out;
}
.buttonForward:active{
    background-color: #fff;
    transition: background-color 0.2s ease-in-out ;
    
}
.containerSecundaryShowPhotos button img{
    height: 4vh;
    width: 5vh;
    margin: 0;
}
.PhotoOfContainerShowGallery{
    height: auto;
    width: 45%;
    object-fit: cover;
    border-radius: 10px;
}
.globlaContainerDescriptionShow_45445{
    height: 100%;
    width: 22%;
    background-color: #f0f0f0;
}
.buttonClosepShowGallery{
    height: 11.5vh;
    width: 100%;
}
.containerDivDescriptionInformation_546944{
    display: flex;
    padding-top: 10px;
}
.imageLogoConatainerShow img{
    height: 5.5vh;
    width: 5.5vh;
    border-radius: 50%;
    cursor: pointer;
    position: relative;  
    margin-left: 1vh;
    margin-top: 8px;
    border: 0.5px solid #000;
    object-fit: cover;
}
.containerButtonClosepShow{
    height: 5vh;
    width: 5vh;
    border-radius: 12px;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
}
.containerButtonClosepShow img{
    height: 3vh;
    width: 3vh;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
}
.containerButtonClosepShow:hover img{
    transform: scale(1.1);
}

.logoNameWork_484654{
    height: 5vh;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3px;
}
.NameWork_48445456{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.NameWork_48445456 h4{
    font-family: var(--fontPrincipal);
    font-weight: 500;
    font-size: 1rem;
}
.NameWork_48445456 p{
    font-family: var(--fontSecundary);
    font-size: 0.8rem;
    color: #252525;
}
.descriptionShowGallery{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 13px;
    padding-top: 3vh;
    gap: 1vh;
}
.descriptionShowGallery h1{
    font-family: var(--fontPrincipal);
    font-weight: 500;
    font-size: 1.6rem;
}
.descriptionShowGallery h3{
    font-family: var(--fontSecundary);
    font-weight: 400;
    font-size: 1.5rem;
}
.descriptionShowGallery p{
    width: 90%;
    font-family: var(--fontSecundary);
    font-weight: 300;
    font-size: 1.2rem;
    color: #252525; 
}
.buttonWhatsAppMessenger_75845844{
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 1vh;
    padding-left: 1.3vh;

}
.buttonWhatsAppMessenger_75845844 button{
    height: 2.7vh;
    min-width: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttonWhatsAppMessenger_75845844 a{
    text-decoration: none;
}
.buttonWhatsAppColor_1111{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transform: scale(1);
    border: none;
    transition:  letter-spacing 0.3s ease-in-out,
    transform 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
}
.buttonWhatsAppColor_1111:hover{
    transform: scale(1.05);
    letter-spacing:0.2px;
}
.buttonMessengerColor_1111{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transform: scale(1);
    border: none;
    transition:  letter-spacing 0.3s ease-in-out,
    transform 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
} 
.buttonMessengerColor_1111:hover{
    transform: scale(1.05);
    letter-spacing:0.2px;
}
.buttonGmailColor_1111{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    transform: scale(1);
    transition:  letter-spacing 0.3s ease-in-out,
    transform 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
}
.buttonGmailColor_1111:hover{
    transform: scale(1.05);
    letter-spacing:0.2px;
}
.buttonWhatsAppColor_1111 img{
    height: 3vh;
    padding-top: 1.5px;
}
.buttonMessengerColor_1111 img{
    height: 3vh;
    padding-top: 1.5px;
}
.buttonGmailColor_1111 img{
    height: 3vh;
    padding-top: 1.5px;
}
/*footer*/
footer{
    height: 10vh;
    width: 100%;
    background-color: #fff;
    
}
.container-Footer-divSuperior_9988999{
    height: 65%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    
}
.Item-Footer-Phone_0008345 h3{
    font-family: var(--fontPrincipal);
    font-weight: 500;
}
.Item-Footer-Phone_0008345 h4{
    font-family: var(--fontSecundary);
    font-weight: 400;
}
.container-Footer-lowerDiv{
    height: 22%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.DIvision-containers_545645421212{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.DIvision-containers_545645421212 hr{
    width: 75%;
}
@media screen and (max-width: 1540px){
    .logo-principal-header_007008009 img{
        height: 6.7vh;
    }
    .ItemsContainerGlobal_371306 button{
        font-size: 2.3vh;
    }
    .ItemsContainerGlobal_371306 img{
        width: 2.0vh;
        height: 2.1vh;
        padding-top: 0.3vh;
    }
    .iconBackground{
        display: none;
    }
    .descriptionShowGallery h1{
        font-size: 1.4rem;
    }
    .descriptionShowGallery h3{
        font-size: 1.3rem;
    }
    .descriptionShowGallery p{
        font-size: 1.1rem;
    }
}
@media screen and (max-width: 1400px) {
    .descriptionShowGallery h1{
        font-size: 1.3rem;
    }
    .descriptionShowGallery h3{
        font-size: 1.2rem;
    }
    .descriptionShowGallery p{
        font-size: 1rem;
    }
    .containerButtonClosepShow img{
        height: 2.8vh;
        width: 2.8vh;
    }
    .PhotoOfContainerShowGallery{
        width: 52%;
    }
}
@media screen and (max-width: 1350px){
    .logo-principal-header_007008009 img{
        height: 6.0vh;
    }
    .ItemsContainerGlobal_371306 button{
        font-size: 2.1vh;
    }
    .ItemsContainerGlobal_371306 img{
        width: 1.9vh;
        height: 2.0vh;
        padding-top: 0.3vh;
    }
    .MainClass{
        display: flex;
        gap: 5vh;
    }
    .containerShowGallery{
        flex-direction: column;

    }
    .containerSecundaryShowPhotos{
        width: 100%;
        height: 100%;
    }
    .globlaContainerDescriptionShow_45445{
        width: 100%;
        height: 25%;
        background-color: #0000009a;
        color: #fff;
        position: absolute;
        top: 74vh;
    }
    .globlaContainerDescriptionShow_45445 hr{
        display: none;
    }
    .buttonWhatsAppMessenger_75845844{
        display: none;
    }
    .buttonClosepShowGallery{
        height: 4vh;
    }
    .PhotoOfContainerShowGallery{
        width: 60vh;
        max-height: 90%;
    }
    .NameWork_48445456 p{
        color: #fff;
    }
    .descriptionShowGallery p{
        color: #fff;
    }
    .containerButtonClosepShow{
        background-color: #00000000;
        position: absolute;
        bottom: 92vh;
        left: 2vh;
    }
    .containerButtonClosepShow img{
        filter: invert(1) brightness(2);
        height: 4vh;
        width: 4vh;
        object-fit: cover;
    }
    .imageLogoConatainerShow img{
        height: 5vh;
        width: 5vh;
    }

}
@media screen and ( max-width:1270px) {
    .informationAboutMe_sectionKitchen_77888999 p{
        font-size: 1.1rem;
        width: 80%;
    }
    
}
@media screen and (max-width: 1150px){
    header{
        padding-left: 14vh;
    }
    .sectionOfMian-aboutMe_885494 video{
        height: 60vh;
        width: 27vh;
    }
    .sectionSecundaryOfMian-aboutMe_885496{
        padding-top: 5vh;
    }
    .informationAboutMe_sectionKitchen_77888999 h3{
        font-size: 1.4rem;
        width: 8.5vh;
    }
    
    .sectionOfMian-aboutMe_885494{
        align-items: center;
    }
}
@media screen and (max-width: 1050px){
    
    .logo-principal-header_007008009 img{
        height: 6.5vh;
    }
    .closepOpenButton_dropdonw_545848{
        height: 35vh;
        width: 28vh;
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: flex-end;
        z-index: 10;
        position: relative;
        top: 15vh;
    }
    .ItemsContainerGlobal_371306{
        height: 100%;
        width: 100%;
        padding: 0;
        gap: 0;
        display: none;
        flex-direction: column;
        align-items: center;
        position: relative;
        top: 1vh;
        z-index: 1;
    }
    .ItemsContainerGlobal_371306 a{
        width: 100%;
        height: 100%;
    }
    .ItemsContainerGlobal_371306 button{
        font-size: 2vh;
        height: 100%;
        width: 100%;
        background-color:#eeeeee;
        display: flex;
        justify-content: flex-start;
        padding-left: 1.5vh;
        align-items: center;
        border-bottom: 1.5px solid #d1d1d1;
        transition: border-left 0.1s ease-in-out,
        transform 0.2s ease-in-out;
        
    }
    .ItemsContainerGlobal_371306 button:hover {
        background-color: #fcfcfc;
        border-left: 5px solid #ff0000;
        border-bottom: 0;
        box-shadow: 0 0 120px #00000071;
    }
    .dropdonw-globa-button_5454545{
        display: flex;
        position: relative;
        bottom: 30vh;
        width: 28vh;
        height: 5vh;
        display: flex;
        justify-content: end;
        align-items: center;
    }
    #DropDonw-burguer_896776{
        display: flex;
        height: 3.5vh;
        width: 3.5vh;
        cursor: pointer;
        position: relative;
        transform: scale(1);
        transition: transform 0.3s ease-in-out;
    }
    #DropDonw-burguer_896776:hover{
        transform: scale(1.05);
    }
    #dropdonw-closep_008213{
        display: none;
        height: 3.5vh;
        width: 3.5vh;
        cursor: pointer;
        position: relative;
        top: 31vh;
        transform: scale(1);
        transition: transform 0.3s ease-in-out;
    }
    #dropdonw-closep_008213:hover{
        transform: scale(1.05);
    }
    .iconchoteAndContext_4848{
        height: 100%;
        width: 60%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 5px;
    }
    a .btnItmesName-SobreMi_686569{
        background-color: #fcfcfc;
        border-left: 5px solid #ff0000;
    }
    .contentGlobal-SectionMain_548488{
        height: 45vh;
        width: 85vh;
    }
    .imageContent-divMain_4545848 img{
        height: 30vh;
        width: 25vh;
    }
    .divContent-mainContainer_4846549 h2{
        font-size: 2.5rem;
    }
    .divContent-mainContainer_4846549 h4{
        font-size: 1.2rem;
    }
    .divContent-mainContainer_4846549 p{
        font-size: 1rem;
    }
    footer{
        width: 100%;
        height: 5vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container-Footer-divSuperior_9988999{
        width: 90%;
    }
    .Item-Footer-Phone_0008345 h3{
        font-size: 1.1rem;
    }
    .Item-Footer-Phone_0008345 h4{
        font-size: 1rem;
    }
    .contentMain-aboutme_45454{
        height: 10vh;
    }
    .container-Global_11111.show h2{
        font-size: 2.2rem;
    }
    .informationAboutMe_sectionKitchen_77888999{
        height: 14vh;
    }
    .greet-divPrincipal_4848422{
        height: 4.2vh;
    }
    .sectionSecundaryOfMian-aboutMe_885496{
        padding-top: 8vh;
    }
    .informationAboutMe_sectionKitchen_77888999 p{
        font-size: 1rem;
        width: 60%;
    }
    .informationAboutMe_sectionKitchen_77888999 h3{
        font-size: 1.3rem;
        width: 8vh;
    }
    .hrTwoAboutMe_456{
        height: 0.2vh;
        width: 15.2vh;
    }
    .classParagraph_856789 h3{
        font-size: 1.8rem;
    }
    .classParagraph_856789 p{
        font-size: 1.1rem;
        width: 76vh;
    }
}
@media screen and (max-width: 850px) {
    header{
        padding: 0;
        justify-content: space-around;
    }
    .sectionOfMian-aboutMe_885494 video{
        height: 55vh;
        width: 25vh;
    }
    .contentMain-aboutme_45454{
        height: 10vh;
    }
    .informationAboutMe_sectionKitchen_77888999{
        width: 40vh;
    }
    
    .informationAboutMe_sectionKitchen_77888999 p{ 
        width: 90%;
    }
    
    .Item-Footer-Phone_0008345 h3{
        font-size: 1rem;
    }
    .Item-Footer-Phone_0008345 h4{
        font-size: 0.8rem;
    }
    .container-Footer-divSuperior_9988999{
        height: 100%;
    }
    .descriptionShowGallery{
        gap: 0;
    }
    .PhotoOfContainerShowGallery{
        height: auto;
        max-height: 90%;
    }
    
}
@media screen and (max-width:750px) {
    .sectionOfMian-aboutMe_885494{
        align-items: center;
        justify-content: center;
    }
    .MainClass{
        gap: 0;
    }
    .informationAboutMe_sectionKitchen_77888999 p{
        font-size: 0.9rem;
        
    }
    .informationAboutMe_sectionKitchen_77888999 h3{
        width: 7.5vh;
        font-size: 1.2rem;
    }
    
    .informationAboutMe_sectionKitchen_77888999 p{
        width: 75%;
        height: auto;
        font-size: 0.9rem;
    }
    
    .container-Global_11111.show h2{
        font-size: 2rem;
    }
    .containerSecundaryShowPhotos{
        align-items: center;
    }
    .PhotoOfContainerShowGallery{
        height: auto;
        max-height: 85%;
        width: 50vh;
    }
}
@media screen and (max-width: 650px) {
    .MainClass{
        flex-direction: column-reverse;
        height: auto;
        padding-top: 10vh;
        margin-bottom: 10vh;
    }
    .sectionOfMian-aboutMe_885494{
        height: 50vh;
        align-items: flex-end;
    }
    .sectionSecundaryOfMian-aboutMe_885496{
        padding-top: 5vh;
        height: auto;
        gap: 0.5vh;
        width: 90%;
    }
    .contentMain-aboutme_45454{
        width: 100%;
        display: flex;
        height: 5vh;
        gap: 0;
        justify-content: center;
    }
    .greet-divPrincipal_4848422{
        width: 10vh;
    }
    
    .classParagraph_856789 h3{
        font-size: 1.7rem;
    }
    .classParagraph_856789 p{
        width: 80%;
        font-size: 1rem;
    }
    .containerSecundaryShowPhotos button{
        height: 5.5vh;
        width: 5.5vh;
    }
    .buttonForward{
        right: 5vh;
        background-color: #ffffff83;
        border: none;
    }
    .buttonBack{
        left: 5vh;
        background-color: #ffffff83;
        border: none;
    }
    .informationAboutMe_sectionKitchen_77888999{
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .sectionSecundaryOfMian-aboutMe_885496{
        gap: 1vh;
    }
    .sectonSecundaryAboutMe{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1vh;
    }
    .containerDiv_84848484848{
        width: 18vh;
    }
}
@media screen and (max-width: 570px) {
    .informationAboutMe_sectionKitchen_77888999{
        width: 35vh;
    }
    .informationAboutMe_sectionKitchen_77888999 p{
        width: 100%;
    }
    
    .sectionSecundaryOfMian-aboutMe_885496{
        width: 100%;
        align-items: center;
        gap: 1vh;
    }
    .contentMain-aboutme_45454{
        width: 70%;
        padding-top: 2vh;
    }
    .sectionSecundaryOfMian-aboutMe_885496{
        height: 25vh;
        gap: 1vh;
    }
    .sectionSecundaryOfMian-aboutMe_885496{
        justify-content: center;
        padding: 0;
        gap: 4vh;
        height: 25vh;
    }
    .Item-Footer-Phone_0008345 h3{
        font-size: 0.8rem;
    }
    .Item-Footer-Phone_0008345 h4{
        font-size: 0.7rem;
    }
    .contentMain-aboutme_45454{
        padding-top: 0;
        height: 5vh;
        gap: 1vh;
    }
    .sectionOfMian-aboutMe_885494{
        height: 60vh;
    }
    .greet-divPrincipal_4848422{
        width: auto;
    }
    .container-Global_11111.show h2{
        font-size: 1.5rem;
    }
    .greetAndName-divPrincipal_48421313{
        width: auto;
    }
    .greetAndName-divPrincipal_48421313_num2{
        width: auto;
    }
}
@media screen and (max-width: 550px) {
    .PhotoOfContainerShowGallery{
        width: 45vh;
    }
    .containerSecundaryShowPhotos button{
        height: 4.9vh;
        width: 4.9vh;
    }
    .containerSecundaryShowPhotos{
        justify-content: center;
    }
    
    .hrTwoAboutMe_456{
        display: none;
    }
    .informationAboutMe_sectionKitchen_77888999 h3{
        border-bottom: 2px solid #ff0000;
        width: auto;
    }
    
}

@media screen and (max-width: 500px) and (max-height: 780px) {
    .PhotoOfContainerShowGallery{
        width: 40vh;
    }
    .globlaContainerDescriptionShow_45445{
        top: 76vh;
    }
    .containerButtonClosepShow{
        bottom: 90vh;
        left: 3vh;

    }
    .globlaContainerDescriptionShow_45445{
        top: 70vh;
    }
}
@media screen and (max-width: 430px) {
    .sectionSecundaryOfMian-aboutMe_885496{
        gap: 4vh;
    }
    .sectonSecundaryAboutMe{
        height: 60vh;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contentMain-aboutme_45454{
        width: 94%;
        
    }
}
@media screen and (max-width:350px) {
    .informationAboutMe_sectionKitchen_77888999 p{
        font-size: 0.8rem;
    }
}
@media screen and (max-height:770px) {
    .sectionSecundaryOfMian-aboutMe_885496{
        height: 32vh;
    }
}

@media screen and (max-height: 690px) {
    .descriptionShowGallery h1{
        font-size: 1.1rem;
    }
    .descriptionShowGallery h3{
        font-size: 1rem;
    }
    .descriptionShowGallery p{
        font-size: 0.8rem;
    }
    .globlaContainerDescriptionShow_45445{
        top: 75vh;
    }
    .containerButtonClosepShow{
        bottom: 90vh;
    }
    .sectionSecundaryOfMian-aboutMe_885496{
        height: 68vh;
        gap: 5vh;
    }
    .contentMain-aboutme_45454{
        gap: 2.5vh;
    }
    .contentMain-aboutme_45454{
        padding-top: 0;
    }
    
}
